html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #222222;
  color: white;
}

h1 {
  padding: 20px;
}

h2 {
  padding: 10px;
}

table {
  position: relative;
  width: 50%;
  left: 25%;
  border-collapse: collapse;
  font-size: 20px;
}

table *{
  border: 2px solid white;
  padding: 10px;
}

#numVotesP {
  font-size: 20px;
  padding: 10px;
}

#selectionDiv {
  position: relative;
  width: 50%;
  left: 25%;
}

#selectionDiv button {
  width: 49%;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  background-color: #dddddd;
}

#winnerDiv {
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
}

#winnerDiv p {
  display: none;
}

#winnerDiv button {
  background-color: #dddddd;
}